@model List<LiberacionVehiculoModel>

<script>
    function submitSearch() {

        var Mydata = $("#frmSearch").serialize();
        console.log(Mydata);
        $.ajax({
            url: '@Url.Action("ajax_BuscarVehiculo")',
            type: 'POST',
            data: Mydata,
            success: function (result) {
                $("#listadoLiberacionVehiculos").html(result);
            }
        });
    }

    function ShowDetailPopUp(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        alert(dataItem.IdDeposito)
        //window.location.href = '@Url.Action("Update","Category")?categoryId=' + dataItem.IdDeposito;
    }

</script>

@*<div class="row justify-content-between mb-1 titleCustom">*@
<div class="row mb-1 titleCustom">
    <div class="col-12 col-md-auto mt-4 mb-2">
        <h5 class="px-4"><b>Listado de vehículos</b></h5>
        @*<h6 class="px-4 text-muted">Edita los datos de vehículo.</h6>*@
    </div>
</div>
<br />
<br />
<div class="row">

    @*<column template="<button data-bs-toggle=modal data-bs-target=\#editVehiculo class='w-100 btn'><h6 class='m-0 colorPrimary'><i class='icon-edit me-2'></i><b>Editar</b></h6></button>" width="100" />*@
    <div class="col-12 mb-4 px-4 rounded gridCustom">
        @(Html.Kendo().Grid(Model)
            .Name("Grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.IdDeposito).Title("Id").Width(90);
                columns.Bound(p => p.marcaVehiculo).Title("Marca").Width(90);
                columns.Bound(p => p.Serie).Title("Serie").Width(90);
                columns.Bound(c => c.FechaIngreso).Format("{0:dd/MM/yyyy}").Width(90);
                columns.Bound(c => c.Folio).Title("Folio").Width(90);
                columns.Bound(c => c.nombreSubmarca).Title("Submarca").Width(90);
                columns.Bound(c => c.delegacion).Title("Delegación").Width(90);

                @*columns.Command(c => c.Custom("Detalle").Click("redirectUpdate").Template("<h6 class='m-0 colorPrimary'><i class='icon-edit me-2'></i><b>Editar</b></h6>")).Width(90);*@

                columns.Command(c => c.Custom("Detalle").Template("<button onclick='ShowDetailPopUp' class='w-100 btn'><h6 class='m-0 colorPrimary'><i class='icon-edit me-2'></i><b>Detalle</b></h6></button>")).Width(90);

        @*columns.Command(c => c.Custom("Detalle").Text("Detalle").Click("redirectUpdate")).Width(90);*@
            }).HtmlAttributes(new { style = "height:350" })
            .Pageable(pager => pager.AlwaysVisible(true).PageSizes(new int[] { 5, 10, 20, 100 }))
            .Sortable()
            .Scrollable(scr => scr.Height(350))
            .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)
            )
            )
    </div>

</div>




 @*Modal*@
<div class="modal fade modalCustom" id="editVehiculo" tabindex="-1" aria-labelledby="editVehiculo" aria-hidden="true">
    <div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
        <div class="modal-content">

            <section class=" bg-white rounded">
                <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                    <div class="col-auto pe-0">
                        <div class="row align-items-center justify-content-center justify-content-md-start">
                            <div class="col-auto pe-0">
                                <i class="icon-edit-car h1 colorPrimary"></i>
                            </div>
                            <div class="col-auto my-3">
                                <h2 class="m-0 h3"><b>Editar vehículo</b></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto my-3">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="bg-light py-1"></div>
                    </div>

                </div>
                <div class="row align-items-end">
                    <div class="col-12 col-lg-6 my-4">
                        <h5 class="px-4"><b>Datos del vehículo</b></h5>
                        <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
                    </div>
                    <div class="col-12 col-lg-6 my-4">
                        <div class="row justify-content-center">
                            <div class="btnToggle col-8">
                                <div style="z-index:0" class="position-relative d-flex align-items-center">
                                    <input class="toggle toggle-left" id="activo" name="toggle-state" value="false"
                                           type="radio" checked="" />
                                    <label class="btn" for="activo">Activo</label>
                                    <input class="toggle toggle-right" id="inactivo" name="toggle-state" value="true"
                                           type="radio" />
                                    <label class="btn" for="inactivo">Inactivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="row px-4 mb-4 align-items-end justify-content-center">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            <label>Entidad de registro <b>(obligatorio)</b></label>
                            <span>
                                @(Html.Kendo().DropDownList()
                                    .Name("entidadEdit")
                                    .DataTextField("")
                                    .DataValueField("")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                    .Read(read => read.Action("GetProducts", "Home"))
                                    )
                                    )
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBox()
                                .Name("placasEdit")
                                .Label(l => l.Content("Placas"))
                                .Placeholder("Ingresa el número de placa del vehículo")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBox()
                                .Name("serieEdit")
                                .Label(l => l.Content("Serie:"))
                                .Placeholder("Ingresa el número de serie valido")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBox()
                                .Name("tarjetaEdit")
                                .Label(l => l.Content("Tarjeta:"))
                                .Placeholder("Ingresa el número de la tarjeta")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBox()
                                .Name("vigenciaEdit")
                                .Label(l => l.Content("Vigencia de tarjeta:"))
                                .Placeholder("Ingresa la vigencia")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBox()
                                .Name("marcaEdit")
                                .Label(l => l.Content("Marca <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa una marca")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBox()
                                .Name("sub-marcaEdit")
                                .Label(l => l.Content("Sub-Marca <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa la sub-marca")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-3 col-xl-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBox()
                                .Name("tipoEdit")
                                .Label(l => l.Content("Tipo de vehículo <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa el tipo de vehículo")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-2 col-lg-2 col-xl-1">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBox()
                                .Name("modeloEdit")
                                .Label(l => l.Content("Modelo:"))
                                .Placeholder(" Año")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-3 col-xl-2">
                        <div class="controlForm my-3">
                            <label>Color:</label>
                            <span>
                                @(Html.Kendo().DropDownList()
                                    .Name("colorEdit")
                                    .DataTextField("")
                                    .DataValueField("")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                    .Read(read => read.Action("GetProducts", "Home"))
                                    )
                                    )
                            </span>

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBox()
                                .Name("economicoEdit")
                                .Label(l => l.Content("No. económico:"))
                                .Placeholder("Ingresa el no. económico")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBox()
                                .Name("manufacturaEdit")
                                .Label(l => l.Content("Manufactura:"))
                                .Placeholder("Ingresa el pais de manufactura")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                </form>
                <div class="row my-4">
                    <div class="col-12 col-md-6 mx-md-auto">
                        <div class="row justify-content-around">
                            <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                                    <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                                </button>
                            </div>
                            <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                                <div class="controlButton">
                                    @(Html.Kendo().Button()
                                        .Name("EditVehiculo")
                                        .HtmlAttributes(new { @class = "btnPrimary px-3" })
                                        .Content("<h5 class=\"m-0\"><b>Guardar ajustes</b></h5>"))
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>
    </div>
</div>

                                   