@model LiberacionVehiculoModel

@*<div class="row">
    <div class="col-12">
        <div class="bg-light py-1"></div>
    </div>

</div>*@
<div class="row px-4 mb-4 align-items-end justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>ID:</label>
            <span>
                @Html.DisplayFor(m => m.IdDeposito,new {@class="control-label"})
                @*@(Html.Kendo().TextBoxFor(m=>m.IdPension)
                .Label(l => l.Content("ID:"))
                .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly", type = "text" })
                )*@
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Fecha:</label>
            <span>
                @Html.DisplayFor(m => m.FechaIngreso,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Pension:</label>
            <span>
                @Html.DisplayFor(m => m.IdPension,new {@class="control-label"})
            </span>
        </div>
    </div>


    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Marca:</label>
            <span>
                @Html.DisplayFor(m => m.marcaVehiculo,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Folio:</label>
            <span>
                @Html.DisplayFor(m => m.Folio,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Carretera:</label>
            <span>
                Carretera
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Serie:</label>
            <span>
                @Html.DisplayFor(m => m.Serie,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Sub Marca:</label>
            <span>
                @Html.DisplayFor(m => m.nombreSubmarca,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Tramo:</label>
            <span>
                Tramo
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Placas:</label>
            <span>
                @Html.DisplayFor(m => m.Placa,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Color:</label>
            <span>
                @Html.DisplayFor(m => m.IdColor,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Kilómetro:</label>
            <span>
                @Html.DisplayFor(m => m.Km,new {@class="control-label"})
            </span>
        </div>
    </div>

</div>
<form class="row px-4 mb-4 align-items-end justify-content-center" asp-controller="LiberacionVehiculo" asp-action="UpdateLiberacion"
      enctype="multipart/form-data"
      method="post">
    <div class="row align-items-end">
        <div class="col-12 col-lg-6 my-4">
            <h5 class="px-4"><b>Datos:</b></h5>
        </div>
    </div>
    @Html.HiddenFor(m=>m.IdDeposito)
    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Acreditación de Propiedad:</label>
            <span>
                <input type="file" name="ImageAcreditacionPropiedad" id="ImageAcreditacionPropiedad">
                @*@Html.TextBoxFor(m => m.AcreditacionPropiedad, new { type = "file" ,@class = "btnPrimary px-3",id="ImageOne"})*@
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Acreditación de Personalidad:</label>
            <span>
                <input type="file" name="ImageAcreditacionPersonalidad" id="ImageAcreditacionPersonalidad">
                @*@Html.TextBoxFor(m => m.AcreditacionPersonalidad, new { type = "file" ,@class = "btnPrimary px-3"})*@
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Recibo de Infracción:</label>
            <span>
                <input type="file" name="ImageReciboPago" id="ImageReciboPago">
                @*@Html.TextBoxFor(m => m.ReciboPago, new { type = "file" ,@class = "btnPrimary px-3"})*@
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
        <div class="controlForm mb-3">
            <label>Observaciones:</label>
            <span>
                @(Html.Kendo().TextBoxFor(m => m.Observaciones)

                    .HtmlAttributes(new { style = "width: 100%", type = "text" })
                    )
            </span>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        <div class="controlForm mb-3">
            <label>Nombre de quien Autoriza:</label>
            <span>
                @(Html.Kendo().TextBoxFor(m => m.Autoriza)

                    .HtmlAttributes(new { style = "width: 100%", type = "text" })
                    )
            </span>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12 col-md-6 mx-md-auto">
            <div class="row justify-content-around">
                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                    <button type="button" data-bs-dismiss="modal" aria-label="Close">
                        <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                    </button>
                </div>
                <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                    <div class="controlButton">
                        <button type="submit" class="btn btn-success"><h5 class="m-0"><b>Guardar</b></h5></button>
                        @*  @(Html.Kendo().Button()
                        .Name("EditVehiculo")
                        .HtmlAttributes(new { @class = "btnPrimary px-3" })
                        .Content("<h5 class=\"m-0\"><b>Guardar ajustes</b></h5>"))*@
                    </div>
                </div>
            </div>
        </div>


    </div>


</form>


