@model PensionesModel

<section class=" bg-white rounded">
    <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
        <div class="col-auto pe-0">
            <div class="row align-items-center justify-content-center justify-content-md-start">
                <div class="col-auto pe-0">
                    <i class="icon-addDependencia h1 colorPrimary"></i>
                </div>
                <div class="col-auto my-3">
                    <h2 class="m-0 h3"><b>Editar pensión</b></h2>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto my-3">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="bg-light py-1"></div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 my-4">
            <h5 class="px-4"><b>Datos de pensión</b></h5>
            <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
        </div>
    </div>
    <form id="PensionForm" class="row px-4 mb-4 align-items-end justify-content-center">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="controlForm mb-3">
                <label>*Nombre:</label>
                <span>
                    @(Html.Kendo().TextBoxFor(m => m.Pension)
                        .HtmlAttributes(new { style = "width: 100%", type = "text", id = "txtPension" })
                        )
                </span>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <div class="controlForm mb-3">
                <label><b>*</b>Teléfono:</label>
                <span>
                    @(Html.Kendo().TextBoxFor(m => m.Telefono)
                        .HtmlAttributes(new { style = "width: 100%", type = "text", id = "txtTelefono", required = "required" })
                        )
                </span>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <div class="controlForm mb-3">
                <label>Permiso:</label>
                <span>
                    @(Html.Kendo().TextBoxFor(m => m.Permiso)
                        .HtmlAttributes(new { style = "width: 100%", type = "text", id = "txtUpdatePermiso" })
                        )
                </span>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <div class="controlForm mb-3">
                <label><b>*</b>Correo Electrónico:</label>
                <span>
                    @(Html.Kendo().TextBoxFor(m => m.Correo)
                        .HtmlAttributes(new { style = "width: 100%", type = "text", id = "txtUpdateCorreo", required = "required" })
                        )
                </span>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <div class="controlForm mb-3">
                <label><b>*</b>Dirección:</label>
                <span>
                    @(Html.Kendo().TextBoxFor(m => m.Direccion)
                        .HtmlAttributes(new { style = "width: 100%", type = "text", id = "txtUpdateDireccion", required = "required" })
                        )
                </span>
            </div>
        </div>


        @*todo llenar de responsables*@
        <div class="col-12 col-md-6 col-lg-6">
            <div class="controlForm mb-3">
                <label>Responsable:</label>
                <span>
                    @(Html.Kendo().DropDownListFor(d => d.IdResponsable)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Seleccione Responsable...")
                        .HtmlAttributes(new { style = "width:100%;", id = "ddlUpdateResponsables" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("Responsable_Read", "Pensiones");
                            });
                        }))
                </span>
            </div>
        </div>


    </form>
    <div class="row my-4">
        <div class="col-12 col-md-6 mx-md-auto">
            <div class="row justify-content-around">
                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                    <button type="button" data-bs-dismiss="modal" aria-label="Close">
                        <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                    </button>
                </div>
                <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                    <div class="controlButton">
                        <button class="btnPrimary px-3" onclick="submitUpdatePension()">
                            <h5 class="m-0"><b>Guardar</b></h5>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    function submitUpdatePension() {

        var Mydata = $("#PensionForm").serialize();
        console.log(Mydata);
        $('#addDependencia').modal('hide');
        $('body').removeClass('model-open');
        $('.modal-backdrop').remove();
        $.ajax({
            url: '@Url.Action("UpdatePartialModal")',
            type: 'POST',
            data: Mydata,
            success: function (result) {
                $("#listadoPensiones").html(result);
            }
        });
    }

</script>